extends layout

block content
    h3=title
    div.table-responsive
        form#createOrder(action='create_payment_url', method='POST')
            div.form-group
                label(for='amount') Số tiền
                input.form-control#amount(name='amount', disable=true , placeholder='Số tiền', value=amount, readonly)
            div.form-group
                label(for='orderId') Mã hóa đơn
                input.form-control#amount(name='orderId', disable=true , placeholder='Mã hóa đơn', value=orderId, readonly)
            div.form-group
                label(for='language') Ngôn ngữ
                label.control-label
                div.controls
                    label.radio-inline
                        input(type='radio', name='language', id='vnLanguage', value='vn', checked='checked')
                        | Tiếng việt

            button.btn.btn-default#btnPopup(type='submit') Thanh toán
    p
